/* ****************************************************************************************** */
/* Name		:	Manual-style.css                                                               */
/* Desc 		:	CSS1/2 styles for the Docbook 2 XHTML transformation process [civil manual]    */
/* Author	:	Gareth "Korruptor" Noyce [g@korruptor.demon.co.uk]                             */
/* History	:	13/04/02 -- First version. Going for the "white paper" look ;-)                */
/* ****************************************************************************************** */


/* ************************************************************ Document Setup */
body {
	margin: 0pt 0pt 0pt 0pt;
	padding: 0pt 0pt 0pt 0pt;
	line-height: 1.5;
}

/* ***********************************************************  Standard markup */
p {
	font-family: biaukai, baskerville, garamond, helvetica, times, serif;
	font-size: 12pt;
	margin-top: 14pt;
	margin-left: 48pt;
	margin-right: 32pt;
	margin-bottom: 14pt;
	color: black;
	text-align: left;
}

pre {
	font-family: courier, fixed, monaco, system;
	font-sie: 12pt;
	margin-left: 64pt;
}

/* ***********************************************************  lists fixes (sassen, frassen) */
li p {
	margin-left: 12pt;
}

ol {
	marker-offset: 12pt;
	margin-left: 64pt;
	margin-right: 64pt;
	padding-left: 12pt;
}

/* **********************************************************  Class declarations */
h1.book{
	font-family: baskerville, garamond, times, helvetica, serif;
	font-size: 42pt;
	text-align: center;
	margin-top: 48pt;
	margin-bottom: 64pt;
	letter-spacing: 12pt;
}

h1.chapter{
	font-family: baskerville, garamond, times, helvetica, serif;
	font-size: 32pt;
	margin-left: 24pt;
	margin-top: 24pt;
	margin-bottom: 12pt;
	letter-spacing: 8pt;
}

h1.appendix{
	font-family: baskerville, garamond, times, helvetica, serif;
	font-size: 24pt;
	margin-left: 24pt;
	margin-top: 32pt;
	margin-bottom: 12pt;
	letter-spacing: 8pt;
}

h2.sect1{
	font-family: baskerville, garamond, times, helvetica, serif;
	font-size: 20pt;
	margin-left: 48pt;
	margin-top: 18pt;
	margin-bottom: 12pt;
}

h3.sect2{
	font-family: baskerville, garamond, times, helvetica, serif;
	font-size: 16pt;
	margin-left: 48pt;
	margin-top: 12pt;
	margin-bottom: 12pt;
}

h3.question{
	font-family: baskerville, garamond, times, helvetica, serif;
	font-size: 14pt;
	font-style: italic;
	margin-left: 48pt;
	margin-top: 12pt;
	margin-bottom: 12pt;
}

blockquote.answer{
	font-family: biaukai, baskerville, garamond, times, helvetica, serif;
	font-size: 12pt;
	margin-left: 64pt;
	margin-right: 32pt;
}

blockquote.answer:before {
	content: "--";
}

b.gui{
	font-family: courier, fixed, system;
}

b.firstterm{
	display: inline;
}

b.key{
	font-family: courier, fixed, system;
}

b.filename{
	font-family: courier, fixed, system;
}

div.qanda{
	margin-left: 48pt;
	margin-right: 48pt;
	margin-top: 16pt;
	margin-bottom: 16pt;
	border: 1px solid black;
	background-color: #eeeeff;
}
