BODY { margin-top: 0pt;
margin-left: 6pt;
margin-right: 6pt;
color: #000000 
}

H1 { font-family: arial, sans serif;
font-size: 24pt;
font-weight: bold;
margin-left: 4pt;
color: #312020;
}
 
H2 { font-family: arial, sans serif;
font-size: 16pt;
font-weight: bold;
margin-left: 4pt;
color: #312020;
}

H3 {font-family: arial, sans serif;
font-size: 14pt;
font-weight: bold;
margin-left: 4pt;
color: #312020;
}
 
CODE { font-family: courier, serif;
font-size: 6pt;
}

P { font-family: arial, sans serif;
font-size: 10pt;
margin-left: 12pt;
margin-right: 24pt;
}

UL {font-family: arial, sans serif;
font-size: 10pt;

}

LI { font-family: arial, sans serif;
font-size: 10pt;
list-style: disc;
}

TH.gameinfo { font-family: arial, sans serif;
font-size: 12pt;
font-weight: bold;
font-style: italic;
text-align: center;
background-color: #312020;
color: white;
}

TD.gameinfo { font-family: arial, sans serif;
font-size: 10pt;
background-color: #cabfbf;
}

TH { font-family: arial, sans serif;
font-size: 10pt;
font-weight: bold italic;
text-align: center;
background-color: #312020;
color: white;
}

TD { font-family: arial, sans serif;
font-size: 10pt;
}

TD.gameinfohead { font-family: arial, sans serif;
font-size: 10pt;
background-color: #cabfbf;
text-align: right;
}

A { font-family: arial, sans serif;
font-size: 10pt;
font-weight: bold;
}

A:HOVER { text-decoration: none;
background-color: #312020;
colour: white;
font-weight: bold;
}

P.mission {

 margin-left: 12pt; 
 border: black 1px dotted;
 padding: 4pt 4pt 4pt 4pt;

}
